---
import { groups } from 'd3-array';

import '@fontsource-variable/bricolage-grotesque';
import '@fontsource-variable/work-sans';

interface Datum {
  name: string;
  url: string;
  description: string;
  category: string;
  subcategory: string | null;
}

const sha = 'd272768e77261332018ec7780ae620171f888711';
const dataURL = `https://raw.githubusercontent.com/joaopalmeiro/joaopalmeiro/${sha}/data.json`;

const response = await fetch(dataURL);
const data = (await response.json()) as Datum[];

const dataToDisplay = groups(
  data,
  (d) => d.category,
  (d) => d.subcategory
);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <title>joao.town</title>
    <meta name="author" content="João Palmeiro" />
    <meta name="description" content="My personal website." />
  </head>

  <body class="mx-auto px-5 max-w-screen-md">
    <main>
      <header>
        <h1 class="font-title">João Palmeiro</h1>

        <a target="_blank" href="https://en.pronouns.page/he">he/him</a>

        <p>
          Data Visualization Engineer at <a target="_blank" href="https://feedzai.com/">Feedzai</a>
        </p>

        <a target="_blank" href="https://github.com/joaopalmeiro">GitHub</a>
        <a target="_blank" href="https://gitlab.com/joaommpalmeiro">GitLab</a>
        <a target="_blank" href="https://codeberg.org/joaopalmeiro">Codeberg</a>
      </header>

      <section>
        <h2 class="font-title">Projects</h2>

        <div class="grid grid-cols-3">
          {
            dataToDisplay.map(([category, subcategories]) => (
              <div class="border">
                <h3>{category}</h3>

                {subcategories.map(([subcategory, projects]) => (
                  <>
                    {subcategory && <h4>{subcategory}</h4>}
                    <dl>
                      {projects.map((project) => (
                        <>
                          <dt>{project.name}</dt>
                          <dd>{project.description}</dd>
                        </>
                      ))}
                    </dl>
                  </>
                ))}
              </div>
            ))
          }
        </div>
      </section>
    </main>
  </body>
</html>
